{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}
<h1>Welcome to the Kekambas Blog</h1>
{% if current_user.is_authenticated %}
<h5>Nice to see you again, {{ current_user.username }}!</h5>
{% else %}
<h5>Please Sign Up or Log In to Create New Posts</h5>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <!-- Left 2/3 Column -->
    <div class="col-12 col-lg-8 order-1 order-lg-0">

        {% for post in posts %}
        <div class="card mt-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="card-img-top" src="{{ post.image_url }}"
                        alt="random">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted">{{
                            post.date_created }}</h6>
                        <h5 class="card-title">{{ post.title }}</h5>
                        <h6 class="card-subtitle">By: {{ post.author.username }}
                        </h6>
                        <p class="card-text">{{ post.body }}</p>
                        {% if post.author == current_user %}
                        <a href="{{ url_for('edit_post', post_id=post.id) }}"
                            class="btn btn-success">Edit</a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#deletePostModal-{{ post.id }}">
                            Delete
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deletePostModal-{{ post.id }}" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                            Delete {{ post.title }}?</h1>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete {{ post.title }}? This
                        action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <a href="{{ url_for('delete_post', post_id=post.id) }}"
                            class="btn btn-danger">Delete Post</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>

    <!-- Right 1/3 Column -->
    <div class="col-12 col-lg-4 order-0 order-lg-1">

        <div class="position-sticky top-0">
            <div class="card mt-3">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                placeholder="Enter Search Term...">
                            <button type="submit"
                                class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}