{% extends 'base.html' %}

{% block title %} Submit {% endblock %}

{% block header %}
<h1>Address Info</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card mt-3">
            <div class="card-body">
                <form action="" method="post">
                    {{ form.csrf_token }}

                    {{ form.first_name.label }}
                    {{ form.first_name(class="form-control", placeholder="First Name")
                     }}

                    {{ form.last_name.label }}
                    {{ form.last_name(class="form-control", placeholder="Last Name")
                     }}

                    {{ form.address.label }}
                    {{ form.address(class="form-control", placeholder="Address
                    ") }}

                    {{ form.phone.label }}
                    {{ form.phone(class="form-control", placeholder="Phone")
                    }}


                    {{ form.submit(class="btn btn-primary w-100 mt-3") }}

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}